<div class="container">
  <div class="row">
  <div class="col-md-6">
    <form name="form" ng-submit="vm.submitPoll()" novalidate>
      <div class="form-group">
        <label for="pollTitle">
          Poll Title
        </label>
        <input class="form-control" placeholder="Poll question i.e. Favourite music band?" ng-model="vm.question" name="question" id="pollTitle" />
        <hr>
        <label>Select category {{vm.selectedCategory}}</label>
        <select class="form-control" ng-model="vm.selectedCategory" ng-options="category for category in vm.categories" name="categories">
          <!-- <option ng-repeat="data in vm.parsedData"  ng-bind="data.category"></option> -->
        </select>
      </div>
      <div class="form-group">
        <hr>
        <label for="pollOptions">
          Options:
        </label>
        <a class="btn btn-xs btn-primary" ng-click="vm.addOptionClick()"><span class="glyphicon glyphicon-plus-sign"></span>Add option</a>
        <div class="poll-option" ng-model="options" name="options" ng-repeat="option in vm.options">
          <input class="form-control" placeholder="Option {{$index+1}}..." ng-model="option.opt"/>
          <!-- <input class="form-control" ng-model="options[$index]"  /> -->
          <span class="option-clear glyphicon glyphicon-remove" ng-click="vm.removeOptionClick($index)" ></span>
        </div>
      </div>
      <button type="submit" ng-disabled="vm.submitted" class="btn btn-default">Add Poll</button>
    </form>
    </div>
    <div class="col-md-6" ng-if="vm.chartData">
      <canvas ng-show="vm.chartType.id === 1" id="pie" class="chart chart-pie"
      chart-data="vm.chartData" chart-labels="vm.labels" chart-options="options">
      </canvas>
      <canvas ng-show="vm.chartType.id === 2" id="pie" class="chart chart-bar"
      chart-data="vm.chartData" chart-labels="vm.labels" chart-options="options">
      </canvas>
      <canvas ng-show="vm.chartType.id === 3" id="pie" class="chart chart-doughnut"
      chart-data="vm.chartData" chart-labels="vm.labels" chart-options="options">
      </canvas>
      <canvas ng-show="vm.chartType.id === 4" id="pie" class="chart chart-horizontal-bar"
      chart-data="vm.chartData" chart-labels="vm.labels" chart-options="options">
      </canvas>
      <canvas ng-show="vm.chartType.id === 5" id="pie" class="chart chart-polar-area"
      chart-data="vm.chartData" chart-labels="vm.labels" chart-options="options">
      </canvas>
      <label>Select chart type</label>
      <select class="form-control" ng-model="vm.chartType" ng-options="chart.type for chart in vm.chartTypes" name="categories">
        <!-- <option ng-repeat="data in vm.parsedData"  ng-bind="data.category"></option> -->
      </select>
    </div>
  </div>
</div>