.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}


.custom-search {
  width: 200px;
}

.searchByUserIdButton {
  position: absolute;
  z-index: 1000;
  top: 6px;
  left: 5px;

  >span {
    background-color: #ddd;
  }
}

// #custom-search-input {
// }

// #custom-search-input input[type=text] {
//       width: 100px;
//       margin: 0 auto;

//       box-sizing: border-box;
//       border: 2px solid #ccc;
//       border-radius: 4px;
//       font-size: 16px;
//       background-color: rgba(250, 244, 227, 0.3);
//       // background-position: 10px 10px;
//       background-repeat: no-repeat;
//       // padding: 12px 20px 12px 40px;
//       -webkit-transition: width 0.4s ease-in-out;
//       transition: width 0.4s ease-in-out;

// }

// .search-query {
// }

// #custom-search-input input[type=text]:focus{
//     width: 100%;
// }

// .glyphicon-search {
//   z-index: -20;
//   display: inline;
//   position: absolute;
//   left: 50%;
//   // margin-top: .4em;
//   // margin-left: 1em;
//   color: #bbb;
//   font-size: 1.7em;

// }

.trash { color:rgb(209, 91, 71); }
    .trash {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
