<div class="container" ng-cloak>
	<!-- TODO: zamiast tego searchboxa, dac ikonke lupki
				przy kliknieciu rozsunie sie input (searchbox)
	-->
			<div id="search-nav">
<div class="search-bar">
	<div class="input-group">
		<input type="text" ng-model="search" class="search-query form-control" placeholder="Search">

		<div ng-show="$ctrl.isMyPollsDemand" class="btn-group searchByUserIdButton" role="group" aria-label="...">
	  <span class="btn btn-xs">my polls</span>
	  <button type="button" class="btn btn-xs btn-danger" ng-click="$ctrl.showAll()"><span class="glyphicon glyphicon-remove"></span></button>
	</div>
	  </input>
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button">
			<span class=" glyphicon glyphicon-search"></span>
			</button>
		</span>
	</div>
</div>
				<ul uib-pagination boundary-links="true" items-per-page="$ctrl.entryLimit" total-items="$ctrl.filtered.length" ng-model="$ctrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
		</div>

<br>
<!-- TODO: dac karuzele pod/nad paginacja z przyciskami < i >
w taki sposob zeby widok nastepnego polla byl lekko widoczny -->
<a ng-hide="$ctrl.currentPage===1" ng-click="$ctrl.currentPage = $ctrl.currentPage - 1;" class="prev">&#10094;</a>
<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="poll in $ctrl.filtered | startFrom:($ctrl.currentPage-1)*$ctrl.entryLimit | limitTo:$ctrl.entryLimit" ng-init="expression">
	<div ng-show="$ctrl.currentUser._id === poll.createdBy" class="controll-pins">
		<span  ng-click="$ctrl.editPoll(poll)" class="pencil fa fa-pencil-square-o fa-2x glyphicon glyphicon-pencil"></span>
		<span  ng-click="$ctrl.deletePoll(poll)" class="trash fa fa-trash fa-2x"></span>
	</div>

	<poll data="poll" signature="$ctrl.currentUser._id"></poll>
	</div>
</div>

<a ng-hide="$ctrl.currentPage===$ctrl.noOfPages" ng-click="$ctrl.nextClick()"  class="next">&#10095;</a>

<hr>

</div>

<!-- 	<div><i class="pencil fa fa-pencil-square-o fa-2x"></i></div>
	<div ng-click="$ctrl.deletePoll(poll)"><i class="trash fa fa-trash fa-2x"></i></div> -->