// .panel-body:not(.two-col) {
//     padding: 0px;
// }

.glyphicon {
    margin-right: 5px;
}

.glyphicon-new-window {
    margin-left: 5px;
}

.panel-title {
	text-align: center;
	position: relative
}

.panel-title > span {
	position: absolute;
	left: 0;
}

.panel-body {
    height: 320px;
}

.choice-group {
    width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.margin-bottom-none {
    margin-bottom: 0;
}




// .panel-body .radio label, .panel-body .checkbox label {
//     display: block;
// }

label input[type="radio"] ~ i.fa.fa-circle-o{
    margin-right: 0.3em;
    color: #606060;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    margin-right: 0.3em;
    color: #31708f;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #1a5e80;
}

div[data-toggle="buttons"] label.active{
    color: #31708f;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid
#606060;
border-radius: 3px;
color: #303030;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

/* Animation for ng-repeat */

/*
.anim.ng-enter-stagger {
  200ms will be applied between each sucessive enter operation
  -webkit-transition-delay:0.5s;
  transition-delay:0.5s;

  this is here to avoid accidental CSS inheritance
  -webkit-transition-duration:0;
  transition-duration:0;
}

.anim.ng-enter,
.anim.ng-leave
{
    -webkit-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.anim.ng-enter.ng-enter-active,
.anim.ng-leave {
    opacity: 1;
}

.anim.ng-leave.ng-leave-active,
.anim.ng-enter {
    opacity: 0;
} */