<div class="panel panel-primary" ng-cloak>
  <form>
    <div class="panel-heading">
      <h3 class="panel-title">
      <span class="fa fa-line-chart"></span>{{$ctrl.data.category}}
      </h3>
      <br>
      <br>
      <canvas ng-if="$ctrl.data.chartType === 1" id="pie" class="chart chart-pie"
      chart-data="$ctrl.chartData" chart-labels="$ctrl.labels" chart-options="options">
      </canvas>
      <canvas ng-if="$ctrl.data.chartType === 2" id="pie" class="chart chart-bar"
      chart-data="$ctrl.chartData" chart-labels="$ctrl.labels" chart-options="options">
      </canvas>
      <canvas ng-if="$ctrl.data.chartType === 3" id="pie" class="chart chart-doughnut"
      chart-data="$ctrl.chartData" chart-labels="$ctrl.labels" chart-options="options">
      </canvas>
      <canvas ng-if="$ctrl.data.chartType === 4" id="pie" class="chart chart-horizontal-bar"
      chart-data="$ctrl.chartData" chart-labels="$ctrl.labels" chart-options="options">
      </canvas>
      <canvas ng-if="$ctrl.data.chartType === 5" id="pie" class="chart chart-polar-area"
      chart-data="$ctrl.chartData" chart-labels="$ctrl.labels" chart-options="options">
      </canvas>

    </div>
    <div class="panel-body">



<!--       <canvas ng-if="$ctrl.chartData" id="pie" class="chart chart-pie"
      chart-data="$ctrl.chartData" chart-labels="$ctrl.labels" chart-options="options">
      </canvas> -->


      <hr>
      <h3 class="panel-title">{{$ctrl.data.question}}</h3>
      <hr>
      <div class="choice-group btn-group btn-group-vertical" data-toggle="buttons">
        <label ng-disabled="$ctrl.isVoted" class="btn" ng-repeat="label in $ctrl.labels">
          <input ng-disabled="$ctrl.isVoted" type="radio" name='radioOpt' ng-model="$ctrl.myChoice.index" ng-value="$index" ><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span ng-bind="label"></span>
        </label>
        <label ng-if="$ctrl.signature" for="{{$ctrl.data._id}}" ng-hide="$ctrl.isVoted" class="btn">
          <input type="radio" name='radioOpt' ng-model="$ctrl.myChoice.index" value="custom"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
          <input type="text" id="{{$ctrl.data._id}}" ng-click="$ctrl.myChoice.index='custom'" ng-model="$ctrl.customChoice" value="" placeholder="Your option">
        </label>
      </div>
    </div>
    <div class="panel-footer text-center">
      <h4></h4>
      <button ng-disabled="$ctrl.isVoted" type="submit" ng-click="$ctrl.vote()" class="btn btn-primary btn-block btn-sm">
      Vote</button>
      <a href="#" class="small"></a>
    </div>
  </form>
</div>