// .panel-body:not(.two-col) {
//     padding: 0px;
// }

.glyphicon {
    margin-right: 5px;
}

.glyphicon-new-window {
    margin-left: 5px;
}

.panel-title {
	text-align: center;
	position: relative
}

.panel-title > span {
	position: absolute;
	left: 0;
}

.panel-body {
    height: 450px;
}

.choice-group {
    width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

// .choice-group::-webkit-scrollbar {
//     width: 1em;
//     // cursor: pointer;
// }

// .choice-group::-webkit-scrollbar-track {
//     // cursor: pointer;

//     // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }

// .choice-group::-webkit-scrollbar-thumb {
//     // cursor: pointer;
//   background-color: #ddd;
//   outline: 1px solid #aaa;
// }

// .panel-body .radio, .panel-body .checkbox {
//     margin-top: 0px;
//     margin-bottom: 0px;
// }

// .panel-body .list-group {
//     margin-bottom: 0;
// }

.margin-bottom-none {
    margin-bottom: 0;
}

// .panel-body .radio label, .panel-body .checkbox label {
//     display: block;
// }

label input[type="radio"] ~ i.fa.fa-circle-o{
    margin-right: 0.3em;
    color: #606060;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    margin-right: 0.3em;
    color: #31708f;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #1a5e80;
}

div[data-toggle="buttons"] label.active{
    color: #31708f;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid
#606060;
border-radius: 3px;
color: #303030;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}
